<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= @garden.banner_url %>');">
  <div class="container">
    <h1><%= @garden.name %></h1>
  </div>
</div>

<div class="container">
  <div class="row">
  <% @garden.plants.each do |plant| %>
    <div class="col-md-4 col-12">
      <div class="card-category mt-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= plant.image_url %>')">
        <%= plant.name %>
        <%= link_to "+", plant_path(plant), method: :delete, data: { confirm: 'You sure?!'}, class: 'card-remove-link'  %>
        <div class="card-tags">
          <% plant.tags.each do |tag| %>
            <span><%= tag.name %></span>
          <% end %>
          <%= link_to "+", new_plant_plant_tag_path(plant)  %>
        </div>
      </div>
    </div>
  <% end %>
  </div>
  <div class="row justify-content-center mt-3">
    <div class="col-4">
      <button class="btn btn-success toggle-form">Toggle Form</button>
      <h3>Add a plant:</h3>
      <%= simple_form_for [@garden, @plant] do |f| %>
        <%= f.input :name, placeholder: 'Venus Flytrap' %>
        <%= f.input :image_url, placeholder: 'http://www.flower.jpg' %>
        <%= f.submit "Add Plant", class: 'btn btn-success' %>
      <% end %>
    </div>
  </div>
</div>


<%= link_to 'Edit', edit_garden_path(@garden) %> |
<%= link_to 'Back', gardens_path %>
